

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h4,p,a{
  color: whitesmoke;
  text-decoration: none;
}
ul{
  list-style-type: none;
}

.button{
  padding: 3px 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: rgb(76, 5, 147);
  border: 1px solid rgb(246, 199, 124);
  font-weight: 3000;
  cursor: pointer;
  margin:60px;
}
.button-transparent{
  background: transparent;
  color: rgb(212, 99, 99);
  transform: translateY(2px);
}

.button:hover{
  background: rgb(57, 54, 55 ,0.2);
  color: white;
  transition: 0.3s;
}